<h1><%= @outing.name %></h1>
<p>Location: <%= @outing.location %></p>
<p>Date: <%= @outing.date %></p>
<p>Count of Contestants: <%= @outing.contestant_count %></p>
<p>Contestants: 
<% @outing.contestants.each.with_index do |c, i| %> 
  <%= c.name + (i == @outing.contestant_count - 1 ? '' : ', ') %>
<% end %>
</p>