<h1><%= @brette.name %></h1>
<h2>Season <%= @brette.season_number %> - <%= @brette.description %></h2>
<%= link_to 'Contestants', bachelorette_contestants_path(@brette) %>
<p>Average Age of Contestants: <%= @brette.contestant_avg_age %></p>